.swiper {
  width: 100vw;
  height: 100vh;
}

.full_mode {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: black;
  width: var(--max-width);
  min-height: 100vh;
  overflow: hidden;
  color: white;
  z-index: 100;
}

.close_full {
  position: absolute;
  font-size: 24px;
  align-self: flex-start;
  margin: 20px 10px;
  z-index: 10;
  cursor: pointer;
}

.full_picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--tf5050);
  width: var(--max-width);
  height: auto;
  max-height: 80%;
}

.count_pictures {
  position: absolute;
  top: 95%;
  text-align: center;
  padding-bottom: 5px;
  color: white;
  align-self: center;
  font-size: 20px;
  z-index: 10;
}
