.search_container {
  display: flex;
  width: var(--max-width);
  justify-content: flex-end;
}

.search_box {
  display: flex;
  align-items: center;
  height: 33px;
  width: var(--max-width);
  background-color: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  margin: 55px 20px 0 20px;
  overflow: hidden;
  animation: search 0.4s linear;
}

.search_box input {
  width: var(--max-width);
  height: 100%;
  border: 0;
  color: black !important;
}

.search_box input[placeholder] {
  color: var(--color_dark_gray);
}

.search_box input:focus {
  outline: none;
}

.search_input {
  margin: 0 7px 0 18px;
}

.search_filter {
  display: flex;
  width: var(--max-width);
  margin-top: 7px;
  animation: main 0.4s forwards;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0 6vw;
}

.search_filter::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.search_filter_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  height: 33px;
  background: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  padding: 0 16px 0 16px;
  margin-right: 4px;
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes search {
  from {
    opacity: 0;
    width: 0%;
  }

  to {
    opacity: 1;
    width: var(--max-width);
  }
}
