/*FLEX + COLUMN*/
.head_container,
.user_history_box,
.full_mode,
.post,
.post_sign,
.post_icon_box,
.comments_box,
.author_nick,
.comment_user_sign,
.preview_user_container,
.preview_user_nickname_box,
.preview_user_sign_box,
.preview_user_count,
.profile_nick_box,
.burger_box,
.input_container,
.input_form,
.filter_post_box,
.filter_post_item,
.chats_container,
.chat_user_sign_box {
  display: flex;
  flex-direction: column;
}

/*FLEX+CENTR+CENTR*/
.user_history_avatar,
.not_view,
.view,
.avatar_author_post,
.user_comment_avatar_box,
.preview_user_avatar,
.profile_avatar,
.btn_my_profile,
.btn_user_profile,
.profile_user_notific,
.input_logo_box,
.input_in_noacc,
.user_history_add {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Неосновной текст*/
.nickname,
.user_history_nickname,
.preview_user_role,
.profile_count_sign,
.profile_fi,
.profile_role,
.profile_idea_sign,
.idea_sign,
.profile_idea,
.btn_unwrap,
.search-container input,
.chat_user_message,
.your_message::before {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/*Основной текс*/
.preview_user_nickname,
.count,
.count_sign,
.idea_sign::before,
.profile_count,
.profile_nickname,
.btn_my_profile,
.search_filter_btn,
.who_im_box p,
.chat_search_filter_btn,
.chat_user_nickname,
.input_form button {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

/*Мелкий текст*/
.geolocation {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

/*анимация всплытия opacity*/
.head_container,
.search_posts,
.search_filter,
.posts_container,
.chats_container {
  animation: main 0.4s forwards;
}

/*СТИЛИ АВАТАРОК*/
.user_history_add,
.user_history_avatar,
.not_view,
.avatar_author_post,
.user_comment_avatar_box,
.preview_user_avatar,
.profile_avatar,
.profile_user_notific,
.chat_user_avatar_box {
  border-radius: 50%;
}

/*СТИЛИ ДЛЯ ИЗОБРАЖЕНИЯ АВАТАРОК*/

.avatar_picture {
  width: var(--max-width);
  height: 100%;
  border-radius: 50%;
}

.mainBackground,
.posts_container {
  background-color: #f5f5f5;
  padding-bottom: 10px;
}

.posts_container:last-child {
  padding-bottom: 40px;
}

/*Стили header главной страницы сети сети*/
.head_container {
  /*Контейнер головы сети*/
  width: var(--max-width);
  max-height: 240px;
  background-color: white;
}

.logo_box {
  /*Контейнер с логотипом и поиском*/
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 5px;
}

.logo_item {
  display: flex;
  flex-direction: row;
  margin: 51px 0 0 27px;
}

.logo_item i {
  position: absolute;
  margin: 10px 0 0 110px;
  font-size: 15px;
}

.search {
  /*Стиль иконки поиска*/
  margin: 54px 25px 0 0;
  width: 26px;
  height: 26px;
  font-size: 22px;
  font-weight: 700;
  color: black;
}

.filter_post_box {
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  margin: 85px 0 0 27px;
  width: 150px;
  height: 0;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.filter_post_box_open {
  border: var(--border1) var(--color_gray);
  animation: openFilter 0.5s forwards;
}

.filter_line {
  height: 0px;
  width: 150px;
  border: var(--border1) var(--color_gray);
}

.filter_post_item {
  justify-content: center;
  align-items: center;
}

.filter_post_item p {
  margin: 15px 0 10px 0;
}

/*СТИЛИ ИСТОРИЙ*/
.history_container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 109px;
}

.history_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.user_history_box {
  margin-left: 10px;
  margin-right: 10px;
}

.user_history_add,
.user_history_avatar {
  width: 64px;
  height: 64px;
}

.user_history_avatar {
  border: var(--border1) var(--color_gray);
}

.user_history_add {
  background: url('../img/backBTN.jpg');
  background-size: cover;
  border: var(--border1) var(--color_active);
}

.user_history_add_plus {
  font-size: 45px;
  line-height: 100;
  color: white;
}

.user_history_nickname {
  text-align: center;
  padding: 10px 0 10px 0;
}

.not_view {
  color: var(--color_active);
  border: var(--border2) var(--color_active);
  width: 74px;
  height: 74px;
}

.not_view ~ p {
  color: var(--color_active) !important;
}

.view {
  width: 74px;
  height: 74px;
}

/*---------------------------------------------------------*/
.line {
  width: var(--max-width);
  height: 0;
  border: var(--border1) var(--color_gray);
  transform: rotate(0.15deg);
}

/*Стили foot сети*/
.foot_container {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 56px;
  width: var(--max-width);
  background-color: white;
}

.nav_icon_items {
  width: var(--max-width);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav_icon_items li {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.nav_icon_items :nth-child(4) {
  margin-top: 6px;
}

.icon_target {
  color: var(--color_active) !important;
}

.icon_target svg path {
  fill: var(--color_active) !important;
}

/*Стили для ГЛОБАЛЬНОГО ПОИСКА*/
.search_box {
  width: var(--max-width);
  padding: 55px 20px 0 20px;
  display: flex;
  justify-content: end;
  height: fit-content;
}

.search_box input {
  padding-left: 40px;
  height: 33px;
  background: white;
  border: var(--border1) #d9d9d9;
  border-radius: 29px;
  animation: search 0.5s linear;
  animation-fill-mode: forwards;
  color: black !important;
}
.search_box input[placeholder] {
  color: var(--color_gray);
}
.search_input {
  position: absolute;
  z-index: 1;
  margin-top: 6px;
  animation: searchIcon 0.52s linear;
  animation-fill-mode: forwards;
}

.search_box input:focus {
  border: var(--border1) black;
  outline: none;
}

.search_posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search_filter {
  display: flex;
  justify-content: center;
  width: var(--max-width);
  margin-top: 7px;
}

.search_filter_btn {
  text-align: center;
  width: max-content;
  height: 33px;
  background: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  padding: 0 16px 0 16px;
  margin-right: 4px;
}

/*СТИЛЬ ДЛЯ ОДНОГО ИЗОБРАЖЕНИЯ ВО ВЕСЬ ЭКРАН*/
.full_mode {
  position: relative;
  background-color: black;
  width: var(--max-width);
  min-height: 100vh;
  overflow: hidden;
  color: white;
}

.close_full {
  position: absolute;
  font-size: 24px;
  align-self: flex-start;
  margin: 20px 10px;
  z-index: 10;
  cursor: pointer;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.full_picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--tf5050);
  width: var(--max-width);
  height: auto;
  max-height: 100%;
}

.count_pictures {
  position: absolute;
  top: 95%;
  left: 45%;
  padding-bottom: 5px;
  color: white;
  align-self: center;
  font-size: 20px;
  z-index: 10;
}

/*СТИЛИ ПОСТОВ*/
.posts_container {
  width: var(--max-width);
  height: fit-content;
  margin-top: 20px;
}

.post {
  border: var(--border1) #f5f5f5;
  padding-left: 31px;
  background-color: white !important;
  border-radius: 10px;
  padding-top: 8px;
}

.author_post {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

.avatar_author_post {
  height: 46px;
  width: 46px;
  border: var(--border1) var(--color_gray);
}

.avatar_anonim {
  color: var(--color_gray);
  font-size: 15px;
}

.author_nick {
  margin: 4px 0 0 8px;
}

.nickname,
.user_history_nickname {
  color: black;
}

.geolocation {
  color: var(--color_gray);
  margin: 2px 0 0 -2px;
}

.post_sign {
  margin: 13px 0 13px;
  max-height: fit-content;
}

.post_text {
  font-size: 15px;
  margin-bottom: 16px;
  max-width: 80%;
}

.post_one_item {
  max-width: 90%;
  width: fit-content;
  max-height: 600px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post_icons {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-bottom: 8px;
  color: black;
}

.post_icon_box {
  align-items: center;
  margin-right: 28px;
}

.post_count {
  font-size: 12px;
}

.post_icon_animation {
  animation: postIconAnimation 0.6s ease-out;
  animation-fill-mode: forwards;
}

.post_icon_animation path {
  stroke: var(--color_active);
  fill: var(--color_active);
}

/*СТИЛИ КОММЕНТОВ*/
.comments_container {
  animation: open 0.5s ease-in-out;
  overflow: hidden;
}

.open_post {
  padding-top: 60px;
  margin-bottom: 0 !important;
}

.comments_box {
  width: var(--max-width);
  height: fit-content;
  padding: 0 20px 55px 20px;
  margin-top: 10px;
  overflow-y: scroll;
}

.head_comments_container {
  z-index: 5;
  display: flex;
  align-items: center;
  position: fixed;
  height: 50px;
  width: var(--max-width);
  background-color: white;
  transition: opacity 0.4s ease;
}

.comments_name {
  font-size: 26px;
  font-weight: 200;
}

.close_comments {
  color: var(--color_gray) !important;
  font-size: 20px;
  margin-left: 26px;
}

.leave_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: var(--max-width);
  min-height: 60px;
  max-height: fit-content;
  background-color: white;
  transition: opacity 0.4s ease;
}

.hidden {
  opacity: 0;
}

.user_comment {
  border: var(--border2) var(--color_gray);
  border-radius: 10px;
  min-height: 30px;
  width: 80%;
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  max-height: 30vh;
  overflow-y: scroll;
}

.user_comment:focus {
  border: var(--border2) var(--color_active);
  outline: none;
}

[contenteditable='true'] {
  caret-color: var(--color_gray);
}

.user_comment_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.user_comment_avatar_box {
  height: 50px;
  width: 50px;
  border: var(--border1) var(--color_gray);
}

.anonim_comment_avatar {
  font-size: 20px;
  color: var(--color_gray);
}

.comment_user_sign {
  margin-left: 5px;
  height: fit-content;
  max-width: 80%;
}

.comment_sign {
  font-size: 12px;
}

.comment_user_nickname {
  font-size: 15px;
  margin: 2px 0 1px 0;
}

/*СТИЛИ ОШИБКИ НОВОЙ ВКЛАДКИ*/
.not_found_container {
  height: 100%;
  width: var(--max-width);
}

.not_found_header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--tf5050);
  font-size: 28px;
}

.emoji {
  width: max-content;
  height: auto;
}

.go_back {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 200px;
  border: var(--border2) var(--color_active);
  padding: 10px;
  background-color: var(--color_active);
  border-radius: 30px;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: var(--tf5050);
}

.go_back_button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: white;
}

.go_back_arrow {
  display: block;
  color: white !important;
  width: 14px;
  height: auto;
}

/*СТИЛИ ПРЕВЬЮ*/
.preview_user_container {
  align-items: center;
  width: var(--max-width);
  height: 92vh;
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
  background: url('http://www.mobilmusic.ru/mfile/f1/4b/0a/1475940.jpg');
  background-size: cover;
  animation: open 0.5s ease-in-out;
}

.foot_notview {
  filter: blur(6px);
  pointer-events: none;
}

.preview_user_avatar {
  width: 196px;
  height: 196px;
  border: var(--border2) white;
  margin-top: 40px;
}

.preview_user_nickname_box {
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 180px;
  max-width: fit-content;
  height: 62px;
  background-color: white;
  border-radius: 29px;
  margin-top: 9px;
}

.preview_user_nickname {
  color: black;
}

.preview_user_role {
  color: #726f6f;
}

.preview_user_sign_box {
  background-color: white;
  border-radius: 29px;
  overflow: hidden;
  width: 80%;
  max-height: 217px;
  min-height: fit-content;
  margin-top: 20px;
}

.preview_user_count_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 23px;
}

.preview_user_count {
  align-items: center;
}

.count {
  color: black;
}

.count_sign {
  color: #726f6f;
}

.idea_sign {
  margin: 29px 16px 31px 16px;
}

.idea_sign::before {
  content: 'Идея:';
  color: black;
}

.rowupp {
  position: absolute;
  bottom: 10%;
  font-size: 20px;
  color: white;
}

/*СТИЛИ ДЛЯ ПРОФИЛЯ СВОЕГО И ЧУЖОГО*/

.profile_container {
  position: absolute;
  height: fit-content;
  width: var(--max-width);
  background-image: url('https://i.pinimg.com/originals/60/a1/ce/60a1ce7af01d06775077d5db0e2ceee0.gif');
  background-repeat: no-repeat;
}

.user_profile {
  animation: open 0.5s ease-in-out;
}

.profile_box {
  background-color: white;
  width: var(--max-width);
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-start-start-radius: 15px;
  border-start-end-radius: 15px;
  margin-top: 153px;
  padding-bottom: 56px;
}

.profile_avatar {
  position: absolute;
  width: 121px;
  height: 121px;
  border: var(--border2) white;
  margin: 93px 0 0 23px;
}

.profile_user_count_container {
  display: flex;
  flex-direction: row;
  margin: 19px 19px 0 160px;
}

.profile_count,
.profile_nickname,
.btn_my_profile {
  color: black;
}

.profile_count_sign {
  color: black;
}

.profile_nick_box {
  margin: 15px 0 0 23px;
  justify-content: space-between;
}

.profile_nickname {
  margin-bottom: 6px;
}

.profile_fi,
.profile_role,
.profile_idea_sign,
.profile_idea {
  color: #726f6f;
  margin-bottom: 3px;
}

.profile_idea_box {
  display: flex;
  flex-direction: row;
  margin: 6px 47px 0px 23px;
  overflow: hidden;
  max-height: 60px;
}

.full_idea {
  max-height: fit-content;
}

.profile_idea {
  margin-right: 2px;
  color: black !important;
}

.btn_unwrap {
  color: #726f6f;
  margin-left: 59px;
}

.btn_profile_box {
  margin: 12px 0 25px 0;
  width: var(--max-width);
  display: flex;
  justify-content: space-around;
}

.btn_my_profile,
.btn_user_profile {
  background: white;
  border: var(--border1) #d9d9d9;
  border-radius: 29px;
}

.btn_my_profile {
  width: 158px;
  height: 33px;
}

.btn_user_profile {
  width: 142px;
  height: 33px;
}

.profile_user_notific {
  width: 33px;
  height: 33px;
  border: var(--border1) #d9d9d9;
}

.user_notific {
  font-size: 14px;
}

.user_notific_active {
  color: var(--color_active);
  animation: ani 1s forwards;
}

.burger_box {
  position: absolute;
  justify-content: space-between;
  right: 0;
  margin: 59px 19px 0 0;
  height: 12px;
  width: 18px;
}

.burger_line {
  border: var(--border1) white;
  width: var(--max-width);
  height: 0;
}

.profile_notific {
  position: absolute;
  color: white;
  right: 0;
  font-size: 12px;
  margin: 90px 20px 0 0;
}

.share {
  position: absolute;
  color: white;
  right: 0;
  margin: 57px 22px 0 0;
  font-size: 20px;
  font-weight: 100;
}

.profile_icon_container {
  margin-top: 19px;
  display: flex;
  justify-content: space-around;
}

.profile_icon_box,
.profile_icon_box svg path,
.profile_icon_box svg line {
  color: var(--color_gray);
  fill: var(--color_gray);
  stroke: var(--color_gray);
  list-style: none;
}

.profile_icon_box_active,
.profile_icon_box_active svg path,
.profile_icon_box_active svg line {
  color: black !important;
  fill: black !important;
  stroke: black !important;
}

/*СТИЛИ ДЛЯ ВХОДА И РЕГИСТРАЦИИ*/

.none_active {
  display: none !important;
}

.input_container {
  width: var(--max-width);
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: url('../img/backInputColor.jpg');
  background-size: cover;
  animation: main 1s forwards;
}

.input_logo {
  margin-bottom: 60px;
}

.input_form {
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 90%;
  background-color: white;
}

.input_form_sign {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.input_form input {
  width: 90%;
  height: 43px;
  border: var(--border1) var(--color_gray);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 21px;
}

.input_form input:focus {
  border: var(--border2) var(--color_active);
  outline: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.input_form button {
  height: 38px;
  text-align: center;
  width: 167px;
  background: url('../img/backBTN.jpg');
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0;
  border-radius: 10px;
  color: white;
}

.input_form ~ p {
  color: var(--color_gray);
  margin-top: 60px;
}

.input_link {
  color: white !important;
  text-decoration: underline;
}

.error_input {
  animation: errInput 1.5s ease-in infinite;
}

.input_line {
  width: 50%;
  height: 0;
  border: var(--border1) var(--color_gray);
  margin-top: 20px;
}

.who_im_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
}

.who_im_box {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.who_im_checkbtn {
  width: 20px;
  height: 20px;
  border: var(--border1) var(--color_gray);
  margin-right: 5px;
  border-radius: 5px;
  transition: background 0.8s ease;
}
.checked {
  border: 0;
  background-color: var(--color_active);
}
.error_label {
  color: red;
}

/*СТИЛИ ДЛЯ ЧАТА*/

.chat_search_filter_btn {
  text-align: center;
  width: 161px;
  height: 33px;
  background-color: white;
  border: var(--border1) var(--color_gray);
  border-radius: 29px;
  margin: 0 10px 0 10px;
  color: black;
}

.chat_filter_active {
  color: white !important;
  background-color: var(--color_active) !important;
}

.chat_box {
  display: flex;
  flex-direction: row;
  margin: 20px 16px 0 20px;
  border: 1px solid saddlebrown;
}

.chat_user_avatar_box {
  width: 52px;
  height: 52px;
  border: var(--border1) var(--color_gray);
}

.chat_user_sign_box {
  border: 1px salmon solid;
  padding: 5px 0 6px 8px;
  width: 75%;
  justify-content: space-between;
  max-height: 52px;
  overflow: hidden;
}

.chat_user_nickname {
  color: black;
}

.chat_user_message {
  color: black;
  border: 1px solid firebrick;
  max-height: 15px;
  overflow: hidden;
}

.your_message::before {
  content: 'Вы: ';
  color: black;
}

.big_message::after {
  content: '...';
  color: black;
}


@keyframes openFilter {
  0% {
    height: 0;
  }

  100% {
    height: 140px;
  }
}

@media (max-width: 290px) {
  @keyframes searchIcon {
    from {
      opacity: 0;
      margin-right: 0vw;
    }

    to {
      opacity: 1;
      margin-right: 74vw;
    }
  }
}
@media (min-width: 290px) and (max-width: 420px) {
  @keyframes searchIcon {
    from {
      opacity: 0;
      margin-right: 0vw;
    }

    to {
      opacity: 1;
      margin-right: 81vw;
    }
  }
}
@media (min-width: 420px) and (max-width: 920px) {
  @keyframes searchIcon {
    from {
      opacity: 0;
      margin-right: 0vw;
    }

    to {
      opacity: 1;
      margin-right: 91vw;
    }
  }
}
@media (min-width: 920px) and (max-width: 1020px) {
  @keyframes searchIcon {
    from {
      opacity: 0;
      margin-right: 0vw;
    }

    to {
      opacity: 1;
      margin-right: 86vw;
    }
  }
}
@media (min-width: 1020px) and (max-width: 1200px) {
  @keyframes searchIcon {
    from {
      opacity: 0;
      margin-right: 0vw;
    }

    to {
      opacity: 1;
      margin-right: 93vw;
    }
  }
}
@media (min-width: 1200px) {
  @keyframes searchIcon {
    from {
      opacity: 0;
      margin-right: 0vw;
    }

    to {
      opacity: 1;
      margin-right: 94vw;
    }
  }
}

@keyframes search {
  from {
    opacity: 0;
    width: 0%;
  }

  to {
    opacity: 1;
    width: var(--max-width);
  }
}

@keyframes postIconAnimation {
  25% {
    transform: translateY(-4px);
    z-index: 2;
  }

  50% {
    transform: rotate(0.04turn);
    z-index: 2;
  }

  75% {
    transform: rotate(-0.04turn);
    z-index: 2;
  }

  100% {
    transform: none;
  }
}

@keyframes open {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes ani {
  0% {
    transform: rotate(-15deg);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-18deg);
  }

  30% {
    transform: rotate(18deg);
  }

  40% {
    transform: rotate(-22deg);
  }

  50% {
    transform: rotate(22deg);
  }

  60% {
    transform: rotate(-18deg);
  }

  70% {
    transform: rotate(18deg);
  }

  80% {
    transform: rotate(-12deg);
  }

  90% {
    transform: rotate(12deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes errInput {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

